.contacts-title {
  margin-top: 25px;
  font-size: 48px;  
  font-weight: 500;
  font-family: 'Avenir', sans-serif;
}
.contacts-wrapper {
  margin-top: 10px;
}
.place-title {
  font-size: 26px;
  font-weight: 700;
  font-family: 'Avenir', sans-serif;
}

.place-text {
  font-size: 20px;
  font-weight: 500;
  font-family: 'Avenir', sans-serif;
}

.contacts-bottom {
  margin-bottom: 30px;
}

.work-time {
  margin-top: 30px;
}

.special {
  height: 78px;
}

@media only screen and (max-width: 1000px) {
  .special {
    height: auto;
  }

  .contacts-title {
    font-size: 36px;
  }

  .place-title {
    font-size: 24px;
  }

  .place-text {
    font-size: 16px;
  }

  .contacts-container {
    padding: 0px 10px;
  }
}
