
.horeca-wrapper {
	position: relative;
	text-align: center;
	transition: 250ms;
	overflow: hidden;
	object-fit: contain;
	background-color: rgba(0, 0, 0, 9);
	margin-bottom: 3px;
}

.horeca-header {
	font-family: 'Avenir', sans-serif;
	font-weight: 700;
	font-size: 48px;
	align-items: center;
	text-align: center;
	color: #ffffff;

}

.horeca-block {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 80%;
	color: #ffffff;
}

.horeca-text {
	font-family: 'Avenir', sans-serif;
	font-weight: 400;
	font-size: 24px;
	text-align: center;
	align-items: center;
	color: #ffffff;
	margin-bottom: 2px;
}

.horeca-img {
	width: 100% !important;
	height: auto !important;
	min-height: 400px;
	background-color: #ffffff;
	width: 100%;
	opacity: 0.5;
	filter: grayscale(.25);
	object-fit: cover;
}

@media screen and (max-width: 768px) {
	.horeca-img {
		min-height: 150px;
		background-color: #f0f0f0;
	}

	.horeca-header {
		font-size: 24px;
		margin-bottom: 5px;

	}

	.horeca-text {
		font-size: 12px;
	}
}