.item-title {
	font-family: 'Avenir', sans-serif;
	font-weight: 400;
	font-size: 60px;
	margin-bottom: 15px;
	margin-top: 15px;
}

.item-specs-block {
	margin-top: 30px;
	margin-bottom: 50px;
}

.item-spec {
	margin-bottom: 4px;
}

.item-text {
	font-family: 'Avenir', sans-serif;
	font-weight: 400;
	font-size: 22px;
}

.item-back-button {
	width: 200px;
	cursor: pointer;
	font-size: 20px;
	margin-bottom: 20px;
	/* color: white; */
	/* border: 1px solid transparent; */
	border-radius: 5px;

}

.item-text-bold {
	font-family: 'Avenir', sans-serif;
	font-weight: 400;
	font-size: 22px;
	font-weight: 700;
}

.item-document-link {
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
	margin-bottom: 30px;
	margin-right: 20px;
}

.item-links-wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.item-link {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 200px;
	height: 130px;
	margin-bottom: 30px;
	margin-right: 40px;

	background: #FFFFFF;
	box-shadow: 0px 0px 17px rgba(0, 0, 0, 0.15);
	border-radius: 5px;
	color: #363636;
	font-size: 24px;
	font-family: 'Cambay';
	transition: 300ms;
}

.item-link:hover {
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.25);
}

/* product item */
.product-slider {
	margin-top: 20px;
	height: 80vh;
	width: 100%;
	object-fit: contain;
}

@media screen and (max-width: 600px) {
	.product-slider {
		height: auto;
	}

	.item-text-bold {
		font-size: 18px;
	}

	.item-text {
		font-size: 18px;
	}

	.item-title {
		font-size: 48px;
	}

	.item-document-link {
		margin-right: 10px;
		width: 150px;
		height: auto;
	}

	.item-link {
		width: 140px;
		height: 90px;
		font-size: 20px;
		margin-right: 20px;
	}
}