select {
  background: rgba(255, 255, 255, 0.85);
  border: none;
  border-radius: 2px;
  padding: 1px 3px;
  text-align: center;
}

select option {
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.6);
}
  

/* ------------------------------------------------------- */
/* ------------------------------------------------------- */
/* ------------------------ Navbar ----------------------- */
/* ------------------------------------------------------- */
/* ------------------------------------------------------- */

.current{
  color: #fff;
  text-decoration: none;
  transition: 0.3s all;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.35);
}

.inactive {
  color: rgb(230, 230, 230);
  text-decoration: none !important;
  transition: 0.3s all;
  
}

.current:hover {
  color: #fff;
}

.inactive:hover {
  color: #fff;
}

.navbar {
  margin: 0;
  height: 80px;
  width: 100%;
  background: rgb(54, 54, 54);
  color: white;
  justify-content: space-between;
  align-items: center;
  padding: 0 36px !important;
  font-size: 14px;
}

.nav-logo {
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: white;
}

.nav-links {
  padding: 0;
  margin: 0;
  justify-items: center;
  display: grid;
  grid-template-columns: repeat(8, auto);
  grid-gap: 50px;
  list-style: none;
}

.nav-link {
  text-decoration: none;
  color: white;
  transition: 0.3s all;
}

.nav-link:hover {
  color: rgb(134, 81, 81);
}

.nav-icon {
  display: none;
  font-size: 2rem;
  cursor: pointer;
}

@media only screen and (max-width: 1000px) {
  .navbar {
    z-index: 289;
  }

  .nav-links {
    grid-gap: 35px;
    display: flex;
    flex-direction: column;
    position: absolute;
    text-align: center;
    width: 100%;
    top: 80px;
    left: -100%;
    transition: 0.5s all;
    padding-bottom: 10px;
  }

  .nav-links.active {
    background: rgb(54, 54, 54);
    left: 0;
  }

  .nav-item {
    padding: 10px 0;
    /* border-top: 1px solid red; */
    /* border-bottom: 1px solid red; */
  }

  .nav-icon {
    display: flex;
  }
}



/* ------------------------------------------------------- */
/* ------------------------------------------------------- */
/* ------------------------ Header ----------------------- */
/* ------------------------------------------------------- */
/* ------------------------------------------------------- */


/* .slick-slider {
  overflow: hidden;
} */

.swiper-button-next:after { color: #5A5A5A; }
.swiper-button-prev:after { color: #5A5A5A; }


/* 
.navUl {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.navLi {
  float: left;
}

.navLi a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navLi a:hover {
  background-color: rgb(56, 56, 56);
  color: white;

} */



/* ------------------------------------------------------ */
/* ------------------------------------------------------ */
/*------------------------ Footer ------------------------*/
/* ------------------------------------------------------ */
/* ------------------------------------------------------ */

.footer {
  height: auto;
  width: 100%;
  display: flex;
  background-color: #333333;
  padding-top: 25px;
  padding-bottom: 5px;  
}



.footer-awards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: right;
  /* align-items: flex-end; */
  padding: 0px;
  gap: 2px;
}

.footer-icons {
  margin-top: 10px;
  /* justify-content: space-between; */
  display: flex;
  flex-direction: row;
  gap: 45px;
  align-content: flex-start;
}

/* .footer-icon {
  margin-left: 15px;
} */

.footer-text {
  font-weight: 500;
  padding: 0;
  margin: 0;
  color: #ffffff;
  text-align: right;
  font-size: 12px;
}

.footer-container {
  padding: 0 20px;
}

 
@media screen and (max-width: 768px) {
  .footer-text {
    text-align: center;
  }

  .footer-awards {
    justify-content: center;
    margin: 20px 0px;
  }
  .footer-left {
    display: flex;
    justify-content: center;
  }
  .footer-container {
    padding: 0;
  }
}



.footer-year-box {
  background-color: 333333;
  align-items: center;
  padding: 5px 0px;
  
}

.footer-year{
  color: aliceblue;
  font-size: 14px;
  font-family: 'Avenir', sans-serif;
  text-align: center;
  margin-bottom: 0px;

}

/* ------------------------------------------------------ */
/* ------------------------------------------------------ */
/*------------------------ layout ------------------------*/
/* ------------------------------------------------------ */
/* ------------------------------------------------------ */


#container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#main-content {
  margin-top: 80px;
  flex: 1;
}

#header-content {
  display: flex;
}


/* ------------------------------------------------------- */
/* ------------------------------------------------------- */
/* ---------------------- Home-page ---------------------- */
/* ------------------------------------------------------- */
/* ------------------------------------------------------- */

/* -------------------- */
/* ----- Carousel- ---- */
/* -------------------- */


.slider-img{
  width: 100%;
  height: calc(100vh - 180px);
  top: 0;
  bottom: 0;
  left: 0;
  object-fit: cover;
  filter: grayscale(.1)
}

.mySwiper{
  height: 360px;
}

.slider-mini{
  height: 100%;
}

@media screen and (max-width: 768px) {
.slider-img {
    width: 100%;
    height: calc(85vh - 180px);
    top: 0;
    bottom: 0;
    left: 0;
    object-fit: cover;
    filter: grayscale(.1)
  }
}

/* -------------------- */
/* ----- Text block---- */
/* -------------------- */

.TextBlock-header{
  margin-top: 80px;
  margin-bottom: 20px;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  font-family: 'Avenir', sans-serif;
}



.TextBlock-text{
  font-size: 36px;
  width: 80%;
  margin: 100px auto;
  text-align: center;
  font-family: 'Avenir', sans-serif;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .TextBlock-header { 
    font-size: 24px;
    margin-bottom: 20px;
  }
  .TextBlock-text { 
    font-size: 16px;
    margin: 20px auto;
    width: 90%;
  }  
}


/* -------------------- */
/* -------- Map ------- */
/* -------------------- */

.map-text {
  font-family: 'Avenir', sans-serif;
  font-size: 28px;
  font-weight: 600;
  align-items: center;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.map-image {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
}


@media screen and (max-width: 768px) {
  .map-text { 
    font-size: 18px;
    font-weight: 5 00;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0 10px;
  }
}

/* -------------------- */
/* ------ awards ------ */
/* -------------------- */


.awards-title {
  font-family: 'Avenir', sans-serif;
  font-size: 48px;
  font-weight: 700;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.awards-text {
  display: block;
  /* margin-left: auto; */
  /* margin-right: auto; */
  width: 60%;
  font-family: 'Avenir', sans-serif;
  font-size: 20px;
  align-items: center;
  text-align: center;
  margin: 15px auto;
}

.awards-image {
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;

}


@media screen and (max-width: 768px) {
  .awards-title { 
    font-size: 20px;
    margin-bottom: 10px;

  }
  .awards-text { 
    font-size: 16px;
    width: 90%;
  }
  .awards-image { 
    width: 90%;

  }  
}



.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 0;
  margin: 0;
  gap: 0;
  width: 100%;

}

.product-text {
  font-family: 'Avenir', sans-serif;  
  font-size: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
}

.product-container {
  position: relative;
  text-align: center;
  color: white;
}





.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  margin: 0;
  padding: 0;
  transition: 200ms;
}

.production-list-wrapper {
  position: relative;
  text-align: center;
  color: rgb(0, 0, 0);
  transition: 250ms;
  cursor: pointer;
  overflow: hidden;
  object-fit: contain;
  background-color: rgba(0, 0, 0, 9);
}

.production-list-text {
  font-family: 'Avenir', sans-serif;
  font-size: 48px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  color: #ffffff;
}

.product-list-wrapper {
  position: relative;
  text-align: center;
  color: rgb(0, 0, 0);
  transition: 250ms;
  cursor: pointer;
  overflow: hidden;
  object-fit: contain;
  background-color: rgba(0, 0, 0, 9);
}

.product-list-img {
  width: 100%;
  height: 80vh;
  opacity: 0.85; 
  min-height: 500px;
  filter: grayscale(.3);
  object-fit: cover;
}

.product-list-wrapper:hover > .product-list-img {
  opacity: 0.5;
  transition: opacity 250ms linear, transform 250ms linear;
  cursor: pointer;
  filter: grayscale(.5 )
}

@media screen and (max-width: 1024px) {
  .grid-container { 
    grid-template-columns: auto;
  }
  .production-list-text {
    font-size: 32px;
  }
  .product-list-img {
    width: 100%;
    min-height: 250px;
    height: auto;
  }
}


/* ------------------------------------------------------ */
/* ------------------------------------------------------ */
/*---------------------- Сoming soon ---------------------*/
/* ------------------------------------------------------ */
/* ------------------------------------------------------ */

.coming-soon-wrapper {
  background-color: #000;
}

.coming-soon-text {
  text-align: center;
  font-family: 'Avenir', sans-serif;
  font-size: 56px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  color: #ffffff;
}

.coming-soon-picture {
  width: 100%;;
  height: calc(100vh - 80px);
  top: 0;
  bottom: 0;
  left: 0;
  object-fit: cover;
  opacity: 0.65;
  filter: grayscale(.3)
}

@media screen and (max-width: 768px) {
  .coming-soon-text {
   font-size: 42px;
  }
}


/* ------------------------------------------------------ */
/* ------------------------------------------------------ */
/*---------------------- Production ----------------------*/
/* ------------------------------------------------------ */
/* ------------------------------------------------------ */


.products-container {
  padding: 20px 25px;
}

@media screen and (max-width: 768px) {
  .products-container {
    padding: 20px 10px;
  }
}

.production-type-wrapper {
  position: relative;
  text-align: center;
  color: white;
  margin: 20px 10px;
  transition: 250ms;
  box-shadow: 0px 10px 10px  rgba(0, 0, 0, 0.15);
  cursor: pointer;
  object-fit: contain;
}

.production-type-wrapper:hover{
  box-shadow: 5px 15px 15px rgba(0, 0, 0, 0.20);
}

.production-type-wrapper:active{
  opacity: 0;
  transform: scale(1.1);
}

.production-type-image {
  height: auto;
  width: 100%;
}


.production-type-text {
  font-family: 'Avenir', sans-serif;  
  font-size: 24px;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
}

.production-type-title {
  font-family: 'Avenir', sans-serif;
  font-size: 36px;
  text-align: center;
  margin-top: 10px;
}




.item-title {
  font-family: 'Avenir', sans-serif;
  font-weight: 400;
  font-size: 60px;
  margin-bottom: 15px;
  margin-top: 15px;
}

.item-specs-block {
  margin-top: 30px;
  margin-bottom: 50px;
}
.item-spec {
  margin-bottom: 4px;
}

.item-text {
  font-family: 'Avenir', sans-serif;
  font-weight: 400;
  font-size: 22px;
}

.item-text-bold {
  font-family: 'Avenir', sans-serif;
  font-weight: 400;
  font-size: 22px;
  font-weight: 700;
}

.item-document-link {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
  margin-bottom: 50px;
  margin-right: 20px;
}


/* product item */
.product-slider {
  height: 80vh;
  width: 100%;
  object-fit: contain;
}

@media screen and (max-width: 600px) {
  .product-slider {
    height: 40vh;
  }
  .item-text-bold {
    font-size: 18px;
  }
  .item-text {
    font-size: 18px;
  }
  .item-title {
    font-size: 48px;
  }

}

/* product item */


.product-image {
  max-width: 100%;
}

.product-wrapper {
  transition: 500ms;
  padding-bottom: 2px;
  margin-bottom: 25px;
  /* box-shadow: 0px 15px 15px  rgba(59, 59, 59, 0.05); */
  border-radius: 2px;
  
  
}

.product-wrapper:hover {
  box-shadow: 0px 10px 10px  rgba(59, 59, 59, 0.10);  
}

.production-wrapper:active{
  opacity: 0;
  transform: scale(1.1);
}

a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}

.product-main-text {
  margin-top: 5px;
  margin-bottom: 10px;
  font-family: 'Avenir', sans-serif;  
  text-align: center;
  font-size: 18;
  color: rgb(25, 25, 25);
  text-decoration: none;
}

.product-main-text:link {
  color: red;
}

/* ------------------------------------------------------ */
/* ------------------------------------------------------ */
/*---------------------- Collection ----------------------*/
/* ------------------------------------------------------ */
/* ------------------------------------------------------ */

.collection-type-title {
  font-family: 'Avenir', sans-serif;
  font-size: 28px;
  font-weight: 700;
  text-align: left;
  margin-top: 10px;
  margin-left: 30px;
}


.collection-wrapper {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 0;
  margin: 0;
  gap: 0;
  width: 100%;
}

.collection-choose-brand{
  object-fit: cover;
  width: 100%;
  height: auto;
  /* width: 33.3%; */
}

.filter-wrapper {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
  /* margin-left: 50px; */

}

.filter-link {
  border: #333333 solid 1px;
  color: #000;
  display: block;
  background: #ffffff;
  width: 120px;
  padding: 3px 0;
  text-align: center;
  padding: auto 0;
  text-decoration: none;
  transition: 250ms;
  font-size: 18px;
  border-radius: 1px;
}


.filter-link:hover {
  background: #333333;
  color: #fff;
}


@media screen and (max-width: 768px) {
  .filter-link {
    width: 80px;
    padding: 2px 0;
    font-size: 12px;
  }
}
/* ------------------------------------------------------ */
/* ------------------------------------------------------ */
/*----------------------- Catalogue ----------------------*/
/* ------------------------------------------------------ */
/* ------------------------------------------------------ */

.catalog-wraper {  
  margin-bottom: 50px;
  display:flex;
  justify-content: center;
  flex-direction: column;
}

.catalog-image {
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.15));
  min-height: 355px;
  background-color: #f0f0f0;;
  height: 355px;
  display: flex;
  width: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  transition: 250ms;
}

.catalog-link-wraper {
  display: flex;
  justify-content: center;
}

.catalog-image:hover {
  
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.2));
}

.catalog-text {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: 'Avenir', sans-serif;
  font-size: 16px;
}

@media screen and (max-width: 1500px) {
  .catalog-image { 
    height: 305px;
    min-height: 305px;

  }
}

@media screen and (max-width: 1200px) {
  .catalog-image { 
    height: 260px;
    min-height: 260px;

  }
}

/* ------------------------------------------------------ */
/* ------------------------------------------------------ */
/*------------------------ HoReCa ------------------------*/
/* ------------------------------------------------------ */
/* ------------------------------------------------------ */

.horeca-wrapper {
  position: relative;
  text-align: center;
  transition: 250ms;
  overflow: hidden;
  object-fit: contain;
  background-color: rgba(0, 0, 0, 9);
  margin-bottom: 3px;
}

.horeca-header {
  font-family: 'Avenir', sans-serif;
  font-weight: 700;
  font-size: 36px;
  align-items: center;
  text-align: center;
  color: #ffffff;

}

.horeca-block {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  color: #ffffff;
}

.horeca-text {
  font-family: 'Avenir', sans-serif;
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  align-items: center;
  color: #ffffff;
}

.horeca-img {
  width: 100% !important;
  height: auto !important;
  min-height: 400px;
  background-color: #ffffff;
  width: 100%;
  opacity: 0.65;
  filter: grayscale(.3);
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .horeca-img {
    min-height: 150px;
    background-color: #f0f0f0;
  }

  .horeca-header {
    font-size: 24px;  
    margin-bottom: 5px;

  }

  .horeca-text {
    font-size: 12px;  
  }
}



/* ------------------------------------------------------ */
/* ------------------------------------------------------ */
/*------------------ FurnitureComponents -----------------*/
/* ------------------------------------------------------ */
/* ------------------------------------------------------ */

.furniture-components-header {
  font-family: 'Avenir', sans-serif;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 5px;
  margin-top: 15px;
  margin-left: 5px;
}

.furniture-components-text {
  font-family: 'Avenir', sans-serif;
  font-size: 16px;
  padding-bottom: 10px;
  margin-left: 5px;

}

.furniture-components-img {
  width: 100%;
  height: auto;
  min-height: 200px;
  background-color: #f0f0f0;
}

.furniture-components-container{
  margin-top: 20px;
  margin-bottom: 40px;
}

.furniture-components-placeholder{
  height: 300px;
  width: 300px;
  background: #5A5A5A;
}

/* .furniture-components-box{ */
  /* background: #FDFDFD; */
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
/* } */

/* .production-img{
  width: 100%;
  margin-bottom: 20px;
  min-height: 300px;
  display: block;
  backface-visibility: hidden;
  background-image: url(assets/images/furnitureComponents/porolon.png);
} */


/* ------------------------------------------------------ */
/* ------------------------------------------------------ */
/*------------------------ Contacts ----------------------*/
/* ------------------------------------------------------ */
/* ------------------------------------------------------ */


.contacts-title {
  margin-top: 25px;
  font-size: 48px;  
  font-weight: 500;
  font-family: 'Avenir', sans-serif;
}
.contacts-wrapper {
  margin-top: 10px;
}

.place-title {
  font-size: 26px;
  font-weight: 700;
  font-family: 'Avenir', sans-serif;
}

.place-text {
  font-size: 20px;
  font-weight: 500;
  font-family: 'Avenir', sans-serif;
}

@media only screen and (max-width: 1000px) {
  .contacts-title {
    font-size: 36px;
  }
  .place-title {
    font-size: 24px;
  }
  .place-text {
    font-size: 16px;
  }
}


/* Gallery */


.img-fluid {
  width: 100%;
  min-height: 200px;
  height: auto;
  object-fit: cover;
}

@media only screen and (max-width: 1000px) {
  .img-fluid {
      min-height: 100px;
  }
}


/* About us */
/* 
.aboutUs-wrapper {
  display: flex;
  flex-direction: column;
} */

.player-wrap {
  display: flex;
  justify-content: center;
  padding: 10px;
  /* padding-top: 56.25%; */
  /* padding: 20px auto; */
    /* Player ratio: 100 / (1280 / 720) */
}

.react-player-item {
  width: 80%;
  height: auto;
}

@media only screen and (max-width: 1000px) {
.react-player-item {
    width: 100%;
    height: auto;
  }
}